<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.dramac.mapper.PhotoMapper">


	<insert id="write">
	
		<selectKey keyProperty="pht_bno" order="BEFORE" resultType="int">
			select max(pht_bno)+1 pht_bno
			from drama_photoboard;
		</selectKey>	
	
		insert into drama_photoboard(pht_bno, pht_title, pht_content)
		values (#{pht_bno}, #{pht_title}, #{pht_content})
	</insert>
	
	
	<select id="photoList" resultType="com.dramac.model.PhotoBoardVO">
		select *
		from drama_photoboard;
	</select>
	
	
	<select id = "photoDetail" resultType="com.dramac.model.PhotoBoardVO">
		select * from drama_photoboard where pht_bno=#{pht_bno};
	</select>
	
	<update id="photoModify">
    	update drama_photoboard
    	set pht_title=#{pht_title}, pht_content=#{pht_content} 
    	where pht_bno=#{pht_bno}
    </update>
    
    <delete id="photoRemove">
		delete from drama_photoboard
		where pht_bno=#{pht_bno}
    </delete>
    
	<update id="cntup">
		update drama_photoboard set pht_cnt = pht_cnt+1 where pht_bno=#{pht_bno}
	</update>
	
	<select id="total" resultType="int">
		select count(*) from drama_photoboard
		<if test="keyword != null">
		<choose>
			<when test="type == 'T'.toString()">
			where pht_title like concat('%', #{keyword}, '%')
			</when>
			<when test="type == 'C'.toString()">
			where user_id like concat('%', #{keyword}, '%')
			</when>
			<when test="type == 'W'.toString()">
			where pht_content like concat('%', #{keyword}, '%')
			</when>
			<otherwise>
			where pht_title like concat('%', #{keyword}, '%')
			OR pht_content like concat('%', #{keyword}, '%')
			</otherwise>
		</choose>
		</if>
	</select>
   
   
</mapper>