<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.dramac.mapper.PhotoMapper">


	<insert id="write">
	
		<selectKey keyProperty="pht_bno" order="BEFORE" resultType="int">
			select max(pht_bno)+1 pht_bno
			from drama_photoboard;
		</selectKey>	
	
		insert into drama_photoboard(pht_bno, pht_title, pht_content)
		values (#{pht_bno}, #{pht_title}, #{pht_content})
	</insert>
	
	
	<select id="photoList" resultType="com.dramac.model.PhotoBoardVO">
	select*
	from(
		select @rownum :=@rownum+1 rownum, drama_photoboard.*
		from 
			(select drama_photoboard.pht_bno,pht_title,pht_content,pht_writer,pht_regdate,pht_cnt,user_id,Concat(Replace(pht_uploadpath,'\\','/'),'/',pht_uuid,'-',pht_fileName)pht_fileName
			from drama_photo inner join drama_photoboard
				on drama_photo.pht_bno = drama_photoboard.pht_bno
				<if test="keyword != null">
 					where pht_title like concat('%',#{keyword},'%')
 					
 				<choose>
					<when test="type == 'T'.toString()">
						OR pht_title like concat('%',#{keyword},'%')
					</when>
					<when test="type == 'C'.toString()">
						OR pht_content like concat('%',#{keyword},'%')
					</when>
					<when test="type == 'W'.toString()">
						OR user_id like concat('%',#{keyword},'%')
					</when>
					<otherwise>
						OR pht_title like concat('%',#{keyword},'%')
						OR pht_content like concat('%',#{keyword},'%')
					</otherwise>
				</choose>
				
				</if>
				order by drama_photoboard.pht_bno desc
			)as drama_photoboard, (select @rownum:=0) as tmp) as
			photoList
			<![CDATA[
				where rownum > (#{pageNum}-1)*#{amount} and rownum <= #{pageNum}*#{amount}
			]]>
	</select>
	
	
	<select id = "photoDetail" resultType="com.dramac.model.PhotoBoardVO">
		select * from drama_photoboard where pht_bno=#{pht_bno};
	</select>
	
	<update id="photoModify">
    	update drama_photoboard
    	set pht_title=#{pht_title}, pht_content=#{pht_content} 
    	where pht_bno=#{pht_bno}
    </update>
    
    <delete id="photoDelete">
		delete from drama_photoboard
		where pht_bno=#{pht_bno}
    </delete>
    
	<update id="photoCnt">
		update drama_photoboard set pht_cnt = pht_cnt+1 where pht_bno=#{pht_bno}
	</update>
	
	<select id="total" resultType="int">
		select count(*) from drama_photoboard
		<if test="keyword != null">
		where pht_title like concat('%',#{keyword},'%')
		
		<choose>
			<when test="type == 'T'.toString()">
				OR pht_title like concat('%', #{keyword}, '%')
			</when>
			<when test="type == 'C'.toString()">
				OR pht_content like concat('%', #{keyword}, '%')
			</when>
			<when test="type == 'W'.toString()">
				OR user_id like concat('%', #{keyword}, '%')
			</when>
			<otherwise>
				OR pht_title like concat('%', #{keyword}, '%')
				OR pht_content like concat('%', #{keyword}, '%')
			</otherwise>
			</choose>
		
		</if>
	</select>
   
   
</mapper>